# Python Virtual Environment
.venv/
env/
venv/
ENV/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Pytest / Test Artifacts
.pytest_cache/
.coverage
htmlcov/

# OS / Editor Specifics
.DS_Store
Thumbs.db
.vscode/
.idea/
